.flex-container{
    
    display:flex;
    flex-direction:row;
    border:1px solid gray;
    height:650px;
    width:1200px;
    margin:auto;
    background-color:lightgrey;
    
}

.flex-left{
   display:flex;
    flex-direction:column;
    border:1px solid black;
    height:600px;
    width:250px;
    background-color:skyblue;  
    
}

.flex-right{
   display:flex;
    flex-direction:column;
    border:1px solid black;
    height:650px;
    width:950px;
    background-color:greenyellow;  
    
}