        <div class="flex-right">
            
            
           <div class="titlediv"> <h2 class="title">{{title}}</h2></div>
            
            
            
            <div ng-repeat="product in productItemsIds">
       
        <label><img class="thumbnail" ng-src="{{product.img_path}}"/> </label>
            
        <label>Name:{{product.prod_name}}</label><br>
        <label>Description:{{product.description}}</label><br>
        <label>Price:{{product.price}}</label><br>

         </div>

    













        </div>
